{% extends "base.html" %}
{% block content %}

{% if warning %}
<div class="alert alert-warning" role="alert" align="center">
  {{warning}}
</div>
{% endif %}



{% if user_name %}
<h1>Welcome {{ user_name }}!!!</h1>
{% endif %}


<div class="jumbotron">
  <h2 ALIGN="center">PLEASE UPLOAD YOUR ADDITIONAL ATTACHMENTS FOR
    APPLICATION TRACKING SYSTEM
  </h2>
  <br>
  <br>
  <form method="POST" enctype="multipart/form-data">

    <div class="form-group">
      <label class="control-label">Cover Letter</label>
      <div class="custom-file">
        <input type="file" class="custom-file-input" name="cover_letter" aria-describedby="inputGroupFileAddon01">
        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
      </div>
    </div>

    <br>
    <script>
      // Add the following code if you want the name of the file appear on select
      $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
      });
    </script>

      <div class="form-group">
      <label class="control-label">Letter of Recommendation</label>
      <div class="custom-file">
        <input type="file" class="custom-file-input" name="lor" aria-describedby="inputGroupFileAddon01">
        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
      </div>
    </div>

    <br>
    <script>
      // Add the following code if you want the name of the file appear on select
      $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
      });
    </script>

      <div class="form-group">
      <label class="control-label">Transcripts</label>
      <div class="custom-file">
        <input type="file" class="custom-file-input" name="transcripts" aria-describedby="inputGroupFileAddon01">
        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
      </div>
    </div>

    <br>
    <script>
      // Add the following code if you want the name of the file appear on select
      $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
      });
    </script>


    <br>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}