{% extends "base.html" %}
{% block content %}


{% if warning %}
<div class="alert alert-warning" role="alert">
    {{warning}}
</div>
{% endif %}

{% if success %}
<div class="alert alert-success" role="alert">
    {{success}}
</div>
{% endif %}


<h1>WELCOME TO DASHBOARD OF HIRING MANAGER AND RECRUITER</h1>


<div class="jumbotron">
    <h2 align="center">Create Jobs</h2>
    <br>
    <br>

    {% if department_list == [] %}
    <h3>PLEASE FIRST ADD DEPARTMENT FOR POSTING JOBS</h3>
    {% else %}
    <form method="POST">

        <div class="form-group">
            <label for="exampleInputEmail1">Job Title</label>
            <input type="text" class="form-control" name="job_title" aria-describedby="emailHelp"
                placeholder="Enter Job Title">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Job Description</label>
            <input type="text" class="form-control" name="job_desc" aria-describedby="emailHelp"
                placeholder="Enter Job Description">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Min Salary</label>
            <input type="number" class="form-control" name="min_salary" min="29000" max="1000000"
                placeholder="Enter Minimum Salary">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Max Salary</label>
            <input type="text" class="form-control" name="max_salary" min="29000" max="1000000"
                placeholder="Enter Maximum Salary">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Location</label>
            <input type="text" class="form-control" name="location" placeholder="Enter Job Location">
        </div>

        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Visibility</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="visible">
                        <label class="form-check-label" for="gridRadios1">
                            Visible
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                            value="invisible">
                        <label class="form-check-label" for="gridRadios2">
                            Invisible
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="form-group">
            <label for="exampleInputEmail1">Status</label>
            <div class="dropdown">
                <select class="form-control" id="rating" name="status">
                    <option value="open">Open</option>
                    <option value="closed">Closed</option>
                    <option value="cancelled">Cancelled</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Department</label>
            <div class="dropdown">
                <select class="form-control" id="rating" name="department">
                    {% for i in department_list %}
                    <option value={{i}}>{{i}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <br>

        <button type="submit" name="action" value="create_job" class="btn btn-primary">Submit</button>
    </form>
    {% endif %}
</div>



<div class="jumbotron">
    <h2 align="center">View Applicants who have applied for posted jobs</h2>
    <br>
    <br>

    {% if final_display_list == [] %}
    <h2 align="center">Currently No one applied to the jobs</h2>
    {% else %}
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th style="text-align:center" scope="col">Job Title</th>
                <th style="text-align:center" scope="col">Applicant Name</th>
                <th style="text-align:center" scope="col">Resume</th>
                <th style="text-align:center" scope="col">Applied Date</th>
                <th style="text-align:center" scope="col">Application Action</th>
                <th style="text-align:center" scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for items in final_display_list %}
            <tr>
                <td style="text-align:center">{{ items["job_title"] }}</td>
                <td style="text-align:center">{{ items["user_name"] }}</td>
                <td style="text-align:center"><a href='{{ items["user_resume"] }}'
                        download>{{ items["user_resume"][50:] }}</a></td>
                <td style="text-align:center">{{ items["applied_date"] }}</td>
                <td style="text-align:center">
                    <form method="POST">
                        <div class="dropdown">
                            <select class="form-control" name="action"
                                onchange="if(confirm('Are you sure? The Applicant would be informed about this action.')){this.form.value='asdasd'}{this.form.submit()}">
                                <option value="Applied">Applied</option>
                                <option value="{{ items,'rev' }}">Reviewed</option>
                                <option value="{{ items,'rej' }}">Reject</option>
                                <option value="{{ items,'int' }}">Interview</option>
                                <option value="{{ items,'off' }}">Offer</option>
                                <option value="{{ items,'hir' }}">Hired</option>
                            </select>
                        </div>
                    </form>

                </td>
                <td style="text-align:center">{{ items["status"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}