{% extends "base.html" %}
{% block content %}

{% if warning %}
<div class="alert alert-warning" role="alert">
  {{warning}}
</div>
{% endif %}


{% if success %}
<div class="alert alert-success" role="alert">
  {{success}}
</div>
{% endif %}


<div class="jumbotron">
  <h2 ALIGN="center">PELASE REGISTER YOUR STAFF ACCOUNTS FOR
    APPLICATION TRACKING SYSTEM
  </h2>
  <br>
  <br>
  {% if department_list == [] %}
    <h3>PLEASE FIRST ADD DEPARTMENT FOR POSTING JOBS</h3>
    {% else %}
  <form method="POST">

    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" class="form-control" name="username" placeholder="Enter your Username">
      <small id="emailHelp" class="form-text text-muted"></small>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter your Email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Confirm Password</label>
      <input type="password" class="form-control" name="repeat_password" placeholder="Repeat Password">
    </div>

  <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Type</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="Hiring Manager">
            <label class="form-check-label" for="gridRadios1">
              Hiring Manager
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="Recruiter">
            <label class="form-check-label" for="gridRadios2">
              Recruiter
            </label>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="form-group">
        <label for="exampleInputEmail1">Department</label>
        <div class="dropdown">
            <select class="form-control" id="rating" name="department">
                {% for i in department_list %}
                <option value={{i}}>{{i}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% endif %}
</div>
{% endblock %}